<footer>
    
  
    <div>

            <h4>이용약관</h4>    

            <h4>도움말</h4>  

            <h4>Contact</h4>
         
    </div>
        <h4>Copyright &copy; 2024 norazo All rights reserved.</h4>
  </footer>
      <!-- 광고 베너 JS 테스트중 -->
<script src="/js/fragments/adBanner.js"></script>

<!-- 오른쪽 왼쪽 화살표 필요한 아이콘 -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!-- 다음 주소 API 추가 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script th:inline="javascript">
    const loginMember = /*[[${session.loginMember}]]*/ "로그인 회원"; 
    const introduce = /*[[${session.loginMember.memberIntroduce}]]*/ "자기소개";
    const message =  /*[[${message}]]*/ "전달 받은 message";
    const loginNickname = /*[[${session.loginMember.memberNickname}]]*/ "로그인 닉네임";
    console.log(introduce);
    if(message != null) {
        alert(message);
        if(message =="로그인 후 이용해주세요"){
            location.href = '/member/login';
        }
    }
</script> 
