<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 광고 베너 CSS 테스트중 -->
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/fragments/adBanner.css">
    <link rel="stylesheet" href="/css/fragments/modal.css">
    <link rel="stylesheet" href="/css/fragments/main-BoardList.css">
    <link rel="stylesheet" href="/css/board/sportsBoard.css">
    
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <link rel="stylesheet" href="/css/common/main.css">
    <title>노라조</title>
</head>

<body>
    <th:block th:replace="~{common/nav}"></th:block>

    <main>
        
        <th:block th:replace="~{common/fragments/adBanner}"></th:block>

        <div class="title-group">
            <h1 class="boardType-title">신규 모임글</h1>
            <a href="/sportsBoard" class="whole-view">전체보기</a>
        </div>

        <!-- 신규 모임글 -->
        <div class="board-list">
            <div>
                <img src="/1.jpg" class="thumbnail"></img>
                <div>
                    <h4 class="board-title">[AIDA1] 수영 전문가에게 배우는 프리다이빙 자격</h4>
                </div>
            </div>
            
            <div>
                <img src="/1.jpg" class="thumbnail"></img>
                <div>
                    <h4 class="board-title">[AIDA1] 수영 전문가에게 배우는 프리다이빙 자격</h4>
                </div>
            </div>

            <div>
                <img src="/1.jpg" class="thumbnail"></img>
                <div>
                    <h4 class="board-title">[AIDA1] 수영 전문가에게 배우는 프리다이빙 자격</h4>
                </div>
            </div>

            <div>
                <img src="/1.jpg" class="thumbnail"></img>
                <div>
                    <h4 class="board-title">[AIDA1] 수영 전문가에게 배우는 프리다이빙 자격</h4>
                </div>
            </div>
        </div>

        <th:block th:replace="~{common/fragments/main-BoardList}"></th:block>
      
    </main>
    
    <th:block th:replace="~{common/fragments/modal}"></th:block>
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>