<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 광고 베너 CSS 테스트중 -->
    <link rel="stylesheet" href="/css/fragments/adBanner.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">

    <title>NORAZO</title>
</head>
<body>
    <main>
        <th:block th:replace="~{common/nav}"></th:block>

        <div class="card-container">
            <!-- 이미지 정렬을 위한 div -->
            <div class="div-center">
                <!-- 카테고리 -->
                <h1 class="category-text">카테고리</h1>

                <!-- 카테고리 이미지 목록이 나열되는 div -->
                <div class="card-list">
                    <!-- 카테고리 이미지 감싸는 div -->
                    <div class="card-1-div">
                        <!-- 카테고리 이미지 -->
                        <img class="card-1-img" src="/images/category/01.png">
                        <!-- 스포츠 종목 이름 -->
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>
                    
                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>

                    <div class="card-1-div">
                        <img class="card-1-img" src="/images/category/01.png">
                        <h4 class="card-1-title">축구</h4>
                    </div>
                </div>

            </div>
        </div>

    </main>

</body>
</html>