<div class="nav-container">
  <div class="nav-div">
    <!-- 카테고리 목록 버튼 -->
    <a href="category"><ion-icon name="menu-outline" class="category-btn"></ion-icon></a>
 
    <!-- 노라조 로고 -->
    <div class="logo-div">
      <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    <!-- 검색창 -->
    <div class="search-box-div">
      <input type="text" placeholder="검색어를 입력해주세요">
    </div>

    <!-- 버튼 요소들 -->
    <div class="nav-btnlist-div">
      <div>
        <a href="#"><ion-icon class="btn" name="easel-outline"></ion-icon></a>
      </div>
      <div>
        <a href="#"><ion-icon class="btn" name="help-circle-outline"></ion-icon></a>
      </div>
      <div>
        <a href="#"><ion-icon class="btn" name="heart-outline"></ion-icon></a>
      </div>
      <div>
        <a href="#"><ion-icon class="btn" name="person-outline"></ion-icon></a>
      </div>
    </div>
  </div>
</div>
