<div class="nav-container">
  <div class="nav-div">
    <!-- 카테고리 목록 버튼 -->
    <a href="/category"><ion-icon name="menu-outline" class="category-btn"></ion-icon></a>
 
    <!-- 노라조 로고 -->
    <a href="/"><img src="/images/logo.png" class="logo"></a>
    
    <!-- 검색창 -->
    <form action="/" method="get", id="searchAll" class="search-box-div">
      <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요">

      <ion-icon name="search-outline" class="searchAllBtn"></ion-icon>
    </form>

    <!-- 버튼 요소들 -->
    <div class="btnlist">
      <a href="/board"><ion-icon class="board-btn" name="easel"></ion-icon></a>
      <a href="/faq"><ion-icon class="faq-btn" name="help-circle-outline"></ion-icon></a>
      <a href="#"><ion-icon class="favorite-btn" name="heart-outline"></ion-icon></a>
      <a href="/myPage/main"><ion-icon class="myPage-btn" name="person-outline"></ion-icon></a>
    </div>
  </div>
</div>
