<div class="modal-content popup-hidden">

  <!-- 헤더(제목) -->
  <div class="modal-header">
    <h2 class="modal-title" id="exampleModalLabel">운영진과 함께하는 고구마런</h2>
    <ion-icon name="heart-outline" class="board-like"></ion-icon>
    <ion-icon name="heart" class="board-like like-hidden"></ion-icon>
    <span type="button" class="close-btn">&times;</span>
  </div>

  <!-- 모임 정보 -->
  <div class="modal-body">
    <!-- 썸네일 -->
    <div>
      <img class="modal-thumbnail" src="">
    </div>
    
    <!-- 모임 정보 -->
    <div class="modal-info">
      
        <div class="modal-info-line">
          <h2>일시 : </h2>
          <h2 class="info-content">4월 23일 (화) 오후 6시</h2>
        </div>
        <div class="modal-info-line">
          <h2>위치 : </h2>
          <h2 class="info-content">숙대입구역 1번 출구</h2>
        </div>
        <div class="modal-info-line">
          <h2>참석 : </h2>
          <h2 class="info-content">11 / 20 (9자리 남음)</h2>
        </div>
      
    </div>
  </div>

  <!-- 참석 버튼 -->
  <div class="modal-footer join-btn-div">
    <button type="button" class="join-btn">JOIN</button>
  </div>
  
</div>