<div class="MyProfileLeft">
    <div class="backGround">
        <img class="profile" src="/images/profile/profile-circle.svg">
        <div class="div1">
            <div class="Rectangle1"><h3>닉네임</h3></div>
            <div class="Rectangle2"><h3>아스날</h3></div>
        </div>
        <div class="div1">
            <div class="Rectangle1"><h3>이메일</h3></div>
            <div class="Rectangle2"><h3>user01@kh.or.kr</h3></div>
        </div>
        <a href="/myPage/edit"><div class="Rectangle3"><h3>프로필 수정</h3></div></a>
        <a href="/myPage/changePw"><div class="Rectangle3"><h3>비밀번호 수정</h3></div></a>
        <div class="div1">
            <div class="Rectangle4"><h3>자기소개</h3></div>
            <div class="Rectangle5"><h3>안녕하세요<br>ISFP입니다<br>축구하러 왔어요</h3></div>
        </div>
    </div>
</div>