<div class="MyProfileLeft">
    <div class="backGround">
		<form action="/myPage/profile" method="POST" name="myPageFrm" id="profile" enctype="multipart/form-data">
			<label for="imageInput" id="profilelabel">
				<img class="profile"
		             th:with="user=#{user.default.image}"
		             th:src="${session.loginMember.profileImg ?: user}"
					 id="profileImg">
			</label>
			<input type="file" name="profileImg" id="imageInput" accept="image/*">
			<button id="deleteImage">기본 이미지</button>
			<input type="submit" value="이미지 수정" id="imageEditBtn">
		</form>
        <div class="div1" th:object="${session.loginMember}">
            <div class="Rectangle1"><h3>닉네임</h3></div>
            <div class="Rectangle2" ><h3 th:text="*{memberNickname}"></h3></div>
        </div>
        <div class="div1">
            <div class="Rectangle1"><h3>이메일</h3></div>
            <div class="Rectangle2"><h4 th:text="${session.loginMember.memberEmail}"></h4></div>
        </div>
        <a href="/myPage/edit"><div class="Rectangle3"><h3>프로필 수정</h3></div></a>
        <a href="/myPage/changePw"><div class="Rectangle3"><h3>비밀번호 수정</h3></div></a>
        <div class="div1">
            <div class="Rectangle4"><h3>자기소개</h3></div>
            <div class="Rectangle5"><h3>안녕하세요<br>ISFP입니다<br>축구하러 왔어요</h3></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
  const loginMemberProfileImg = "회원프로필이미지";
</script>