<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../static/css/fragments/myPage.css">
</head>
<body>
    <main>
        <div class="MyProfileLeft">
            <div class="Background">
                <div>
                    <div>
                        <div class="Rectangle1" >닉네임</div>
                        <div class="Rectangle2" >아스날</div>
                    </div>
                    <div>
                        <div class="Rectangle3" >이메일</div>
                        <div class="Rectangle4">user01@kh.or.kr</div>
                    </div>
                    <div class="Rectangle5">프로필 수정</div>
                    <div class="Rectangle6">비밀번호 수정</div>
                    <div class="Rectangle7">자기소개</div>
                    <div class="Rectangle8">안녕하세요<br>ISFP입니다<br>축구하러 왔어요</div>
                </div>
            </div>
        </div>
        <div class="MyProfileRight">
            <div>
                <div>나의 모임 현황</div>
                <div>
                    <div><a>내가 만든 모임</a></div>
                    <div><a>내가 속한 모임</a></div>
                    <div><a>내가 찜한 모임</a></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>