 <!-- Modal Structure -->
<div class="sportsBoardDetail-Modal" id="modalContainer" style="display: none;">

  <div class="modal-backdrop"></div>

  <div class="modal-content">
    <div class="sportsBoardTitleContainer-modal">
      <h2 class="sportsBoardTitle-modal">참여 인원 현황</h2>
      <h4 class="modal-joinMember" th:text="|${board.attendMemberCount} / ${board.memberCountLimit}|">ATTENDED MEMBER</h4>
    </div>
    <div class="userInfo-modal">
      <div th:each="memberList, i : ${memberList}" th:object="${memberList}">
        <div th:if="${i.index} == 0" class="master">
          <i class="fa-solid fa-crown" id="modal-crwon1"></i>
          <i class="fa-solid fa-crown" id="modal-crwon2"></i>
          <i class="fa-solid fa-crown" id="modal-crwon3"></i>
          <i class="fa-solid fa-crown" id="modal-crwon4"></i>
          <i class="fa-solid fa-crown" id="modal-crwon5"></i>
          <i class="fa-solid fa-crown" id="modal-crwon6"></i>
          <i class="fa-solid fa-crown" id="modal-crwon7"></i>
          <img th:src="*{profileImg} ?: #{user.default.image}" class="userImg-modal">
          <h3 class="userName-modal" th:text="*{memberNickname}">UserName</h3>
        </div>

        <img th:if="${i.index} > 0" th:src="*{profileImg} ?: #{user.default.image}" class="userImg-modal">
        <h3 th:if="${i.index} > 0" class="userName-modal" th:text="*{memberNickname}">UserName</h3>
      </div>
    </div>
    <form action="" method="GET">
      <button class="closeModal">닫기</button>
      <input type="hidden" th:value="${board.memberNo}" id="modal-memberNo" name="modal-memberNo">
      <input type="hidden" th:value="${boardNo}" id="modal-boardNo" name="modal-boardNo">
      <input type="hidden" th:value="${board.memberNo}" id="modal-createMemberNo" name="modal-createMemberNo">
      <input type="hidden" th:value="${session.loginMember.memberNo}" id="modal-loginMemberNo" name="modal-loginMemberNo">
      <input type="hidden" th:value="${memberList}" id="modal-memberList" name="modal-memberList">
    </form>
  </div>

</div>