<div class="boardCommentDiv">

  <!-- 댓글 그룹 컨테이너 -->
  <th:block th:object="${session.loginMember}">
    <!-- ul -->
    <div class="boardCommentDivTop">

      <!-- 1 -->
      <div class="chatMainContainer" id="commentList"
      th:each="comment : ${board.commentList}" 
      th:classappend="${comment.parentCommentNo} != 0 ? child-comment"
      th:object="${comment}"> 

        <th:block th:if="*{commentDelFl} == 'Y'">
          <th:block th:if="${session.loginMember.memberNo} != ${comment.memberNo}">
            <div class="chatContentContainer"> 
              <p class="chatContent">삭제된 댓글 입니다</p> 
              <span class="chatDate" th:text="*{commentWriteDate}"></span>
            </div>
          </th:block>
        </th:block>

        <th:block th:if="*{commentDelFl} == 'N'">
        
          <th:block th:if="${session.loginMember.memberNo} != ${comment.memberNo}">
            <!-- 남이 쓴 댓글 -->
            <!-- 2-1 -->
            <div class="chatContainer">
                
                <img th:unless="*{profileImg}" th:src="#{user.default.image}" class="chatUserProfile">
                <img th:if="*{profileImg}" th:src="*{profileImg} ?: #{user.default.image}" class="chatUserProfile">
                <h3 class="chatUserName" th:text="*{memberNickname}"></h3>
                <div>
                  <a class="a-insertBtn" th:value="*{memberNickname}" th:onclick="|showInsertComment(*{commentNo}, this.getAttribute('value'), this)|">답글</a>
                </div>
              
            </div>

            <!-- 2-2 -->
            <div class="chatContentContainer">  <!-- chatContentContainerUser -->
              <p class="chatContent"  th:text="*{commentContent}">글글글글</p> <!-- chatContentUser -->
              <span class="chatDate" th:text="*{commentWriteDate}"></span>
            </div>
          </th:block>

        </th:block>

        <th:block th:if="*{commentDelFl} == 'Y'">
          <th:block th:if="${session.loginMember.memberNo} == ${comment.memberNo}">
            <div class="chatContentContainerUser"> 
              <span class="chatDate" th:text="*{commentWriteDate}"></span>
              <p class="chatContentUser">삭제된 댓글 입니다</p> 
            </div>
          </th:block>
        </th:block>

        <th:block th:if="*{commentDelFl} == 'N'">

          <th:block th:if="${session.loginMember.memberNo} == ${comment.memberNo}">
              <!-- 남이 쓴 댓글 -->
              <div class="chatContainerUser">
                
                  <img th:unless="*{profileImg}" th:src="#{user.default.image}" class="chatUserProfile">
                  <img th:if="*{profileImg}" th:src="*{profileImg}" class="chatUserProfile">
                  <h3 class="chatUserName" th:text="*{memberNickname}"></h3>
                  <div>
                    <a class="a-insertBtn" th:value="*{memberNickname}" th:onclick="|showInsertComment(*{commentNo}, this.getAttribute('value'), this)|">답글</a>
                    <a class="a-updateBtn" th:value="*{memberNickname}" th:name="*{profileImg}"
                    th:onclick="|showUpdateComment(*{commentNo}, this.getAttribute('value'), this.getAttribute('name'), this)|">수정</a>
                    <a class="a-deleteBtn" th:onclick="|deleteComment(*{commentNo})|">삭제</a>
                  </div>
                
              </div>

              <div class="chatContentContainerUser">  <!-- chatContentContainerUser -->
                <span class="chatDate" th:text="*{commentWriteDate}"></span>
                <p class="chatContentUser"  th:text="*{commentContent}">글글글글</p> <!-- chatContentUser -->
              </div>
          </th:block>

        </th:block>

      </div>
      
    </div>
    
  </th:block>

  <!-- 댓글 등록 컨테이너 -->
  <div class="chatSubmitMainContainer">
    <!-- 댓글 등록 -->
    <div class="chatSubmitContainer">
      <textarea class="boardDetailCommentInput" placeholder="댓글등록" id="commentContent"></textarea>
    </div>
    <button class="detailCommentSubmitBtn" id="addComment">댓글등록</button>
  </div>

</div>