<div class="boardCommentDiv">

    <!-- 댓글 그룹 컨테이너 -->
    <th:block th:object="${session.loginMember}">
      <div class="boardCommentDivTop">

      
        <div class="chatMainContainer">

          <div class="chatContainer">
            
              <div class="chatLeftContainer">
                <img th:src="*{profileImg}" class="chatUserProfile">
                <h3 class="chatUserName" th:text="*{memberNickname}"></h3>
                <span class="chatDate">2024-04-24 12:45</span>
                
              </div>

            <div class="chatUpdateDeleteContainer">
              <a href="" class="a-updateBtn">수정</a>
              <a href="" class="a-deleteBtn">삭제</a>
            </div>

          </div>

          <div class="chatContentContainer">
            <p class="chatContent">글글글글</p>
          </div>
        </div>

        <div class="chatMainContainer">

          <div class="chatContainer">
            
              <div class="chatLeftContainer">
                <img src="https://via.placeholder.com/50x50" class="chatUserProfile">
                <h3 class="chatUserName">파이리</h3>
                <span class="chatDate">2024-04-24 12:45</span>
                
              </div>

            <div class="chatUpdateDeleteContainer">
              <a href="" class="a-updateBtn">수정</a>
              <a href="" class="a-deleteBtn">삭제</a>
            </div>

          </div>

          <div class="chatContentContainer">
            <p class="chatContent">글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글</p>
          </div>
        </div>
        
        <div class="chatMainContainer">

          <div class="chatContainer">
            
              <div class="chatLeftContainer">
                <img src="https://via.placeholder.com/50x50" class="chatUserProfile">
                <h3 class="chatUserName">파이리</h3>
                <span class="chatDate">2024-04-24 12:45</span>
                
              </div>

            <div class="chatUpdateDeleteContainer">
              <a href="" class="a-updateBtn">수정</a>
              <a href="" class="a-deleteBtn">삭제</a>
            </div>

          </div>

          <div class="chatContentContainer">
            <p class="chatContent">글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글</p>
          </div>
        </div>


        <div class="chatMainContainer">

          <div class="chatContainer">
            
              <div class="chatLeftContainer">
                <img src="https://via.placeholder.com/50x50" class="chatUserProfile">
                <h3 class="chatUserName">파이리</h3>
                <span class="chatDate">2024-04-24 12:45</span>
                
              </div>

            <div class="chatUpdateDeleteContainer">
              <a href="" class="a-updateBtn">수정</a>
              <a href="" class="a-deleteBtn">삭제</a>
            </div>

          </div>

          <div class="chatContentContainer">
            <p class="chatContent">글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글글</p>
          </div>
        </div>

      </div>
    </th:block>
    <!-- 댓글 등록 컨테이너 -->
    <div class="chatSubmitMainContainer">

      <!-- 댓글 등록 -->

      <form action="" class="chatSubmitForm">
        <div class="chatSubmitContainer">
          <textarea class="boardDetailCommentInput" placeholder="댓글등록"></textarea>
        </div>
        <button class="detailCommentSubmitBtn">댓글등록</button>
      </form>
    </div>

  </div>

</div>