<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.norazo.main.model.mapper.MainMapper">

	<!-- 게시판 종류 조회 -->
	<select id="selectBoardTypeList">
		SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
		FROM "BOARD_TYPE"
		ORDER BY BOARD_CODE 
	</select>

	<!-- 스포츠 종목 조회 -->
	<select id="selectSportsTypeList">
		SELECT SPORTS_CODE "sportsCode", SPORTS_KR_NAME "sportsKrName", IMG_PATH "imgPath", IMG_NAME "imgName"
		FROM "SPORTS_TYPE"
		ORDER BY SPORTS_NO
	</select>
	
	<!-- 모임 게시판 게시글 최신순 4개 조회 -->
	<select id="selectSportsBoardList">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, MEETING_DATE, MEETING_LOCATION, 
		
			(SELECT IMG_PATH || IMG_RENAME 
			FROM "BOARD_IMG" C 
			WHERE C.BOARD_NO = B.BOARD_NO) THUMBNAIL, 
			
			(SELECT COUNT(*)
			FROM "ATTEND_MEMBER" A
			WHERE A.BOARD_NO = B.BOARD_NO) ATTEND_MEMBER, 
			
			<![CDATA[
			CASE 
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			END "BOARD_WRITE_DATE"
			]]>
			
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = 1
		AND ROWNUM <![CDATA[<]]>= 4
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 자유 게시판 게시글 최신순 5개 조회 -->
	<select id="selectFreeBoardList">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, 
			
			<![CDATA[
			CASE 
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
				
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			END "BOARD_WRITE_DATE"
			]]>
			
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = 2
		AND ROWNUM <![CDATA[<]]>= 5
		ORDER BY BOARD_NO DESC
	</select>

</mapper>