<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.kh.norazo.member.model.mapper.MemberMapper">

	<select id="login" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, MEMBER_TEL,MEMBER_ADDRESS,GENDER,
		TO_CHAR(BIRTH_DATE,'YYYY-MM-DD')BIRTH_DATE,PROFILE_IMG, MEMBER_INTRODUCE, 
		TO_CHAR(ENROLL_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초" ') 
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL ='N'	
	</select>
	
	<select id="checkEmail" resultType="_int">
		SELECT COUNT(*) 
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL ='N'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="checkNickname" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL ='N'
		AND MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	<!--  회원 가입 SQL  -->
	<insert id="signUp">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL,
			  #{memberEmail},
			  #{memberPw},
			  #{memberNickname},
			  #{memberTel},
			  #{memberAddress},
			  #{gender},
			  #{birthDate},
			  NULL,
			  DEFAULT,
			  DEFAULT,
			  NULL)
	</insert>
	
	<update id="updatePw">
		UPDATE "MEMBER" 
		SET MEMBER_PW = #{memberPw}  
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</update>
	
	<!-- 탈퇴한 회원 목록 조회 -->
	<select id="secessionMemberList">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, MEMBER_TEL, MEMBER_ADDRESS, 
		GENDER, BIRTH_DATE, ENROLL_DATE, MEMBER_DEL_FL 
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'Y'
	</select>
	
	<!-- 탈퇴한 회원의 게시글 Y로 변경 -->
	<update id="deleteAllBoard">
		UPDATE "BOARD" SET
			BOARD_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 탈퇴한 회원 기존 Member 테이블에서 SECESSION_MEMBER 테이블로 이동 -->
	<insert id="moveToSecessionGroup">
		INSERT INTO SECESSION_MEMBER VALUES(
			SEQ_SECESSION_MEMBER_NO.NEXTVAL,
			#{memberEmail},
			#{memberPw},
			#{memberNickname},
			#{memberTel},
			#{memberAddress},
			#{gender},
			#{birthDate},
			SYSDATE,
			#{memberDelFl}
		)
	</insert>
	
	<!-- 매월 1일마다 탈퇴한 회원 정보 폐기 -->
	<delete id="deleteSecessionMemberList">
		DELETE FROM "MEMBER" 
		WHERE MEMBER_NO = #{memberNo}
	</delete>
	
</mapper>
