<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.kh.norazo.member.model.mapper.MemberMapper">

	<select id="login" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, MEMBER_TEL,MEMBER_ADDRESS,GENDER,
		TO_CHAR(BIRTH_DATE,'YYYY-MM-DD')BIRTH_DATE,PROFILE_IMG, 
		TO_CHAR(ENROLL_DATE,'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초" ') 
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL ='N'	
	</select>
	
	<select id="checkEmail" resultType="_int">
		SELECT COUNT(*) 
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL ='N'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="checkNickname" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL ='N'
		AND MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	<!--  회원 가입 SQL  -->
	<insert id="signUp">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL,
			  #{memberEmail},
			  #{memberPw},
			  #{memberNickname},
			  #{memberTel},
			  #{memberAddress},
			  #{gender},
			  #{birthDate},
			  NULL,
			  DEFAULT,
			  DEFAULT,
			  NULL)
	</insert>
</mapper>
