<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 등록하기</title>
</head>
<body>
    <form action=""
          method="post"
          class="board-write"
          id="boardWrite">
        <section>
           <div>
                <h1>
                    <input type="text" name="boardTitle" placeholder="제목" value="">
                </h1>
           </div>


        </section>
    
    </form>
</body>
</html>