<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 등록하기</title>
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/board/boardDetail.css">
    <link rel="stylesheet" href="/css/board/comment.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>
    <main>

        <div class="title-div-box">                       
            <h1>00 게시판</h1>
        </div>

            <div class="div-box">

                <div class="board-create-div">

                    <div class="content-div-box">

                        <div class="board-title-div">
                            <h2>타이틀자리입니다</h2>

                            <div class="board-user-div">
                                <h3>user</h3>
                                <h3>2024-05-08-sysdate</h3>

                            </div>
                        </div>

                        <div class="board-content">
                            <textarea name="boardContent"></textarea>
                        </div>
                        
                        <div class="button-div">
                            <button class="updateBoardBtn">수정</button>
                            <button class="deleteBoardBtn">삭제</button>
                        </div>    

                    </div>
                </div>

            </div>  

            <th:block th:replace="~{board/comment}"></th:block>
    </main>
    
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>