<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 등록하기</title>
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/board/boardWrite.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>
    <main>

        <div class="title-div-box">                       
            <h1>00 게시판 등록하기</h1>
        </div>

        <form action="insert"
              method="post"
            class="board-write"
            id="boardWrite">

            <div class="div-box">

                <div class="board-create-div">

                    <div class="content-div-box">

                        <div class="board-title-div" 
                             name="boardTitle">
                            <h2>타이틀자리입니다</h2>
                        </div>

                        <div class="board-content">
                            <textarea name="boardContent"></textarea>
                        </div>
                        
                        <button class="boardCreateBtn">등록 하기</button>
                    </div>
                </div>

            </div>       
        </form>

    </main>
    
    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>