<div class="commnet-area">

    <div class="user-info-area">

        <div class="user-icon">

            <div class="user-profile-info">
                <img src="/images/profile/default-profileImg.png">
                <h3>닉네임</h3>
                <h3>2024-05-08-sysdate</h3>                    
            </div>

            <div class="a-area">
            
                <a href="">답글</a>
                <a href="">수정</a>
                <a href="">삭제</a>

            </div>
        </div>

        <div class="textarea-div">
            <textarea name="" id="comment-textarea"></textarea>
        </div>

    </div>

    <div class="comment-container">
        <textarea name="" id="reply-textarea"></textarea>
        
        <div class="comment-submit">           
            <button class="detailCommentSubmitBtn">댓글 등록</button>
        </div> 
    </div>

</div>

