<div class="commnet-area">

    <div class="user-info-area">

        <div class="user-icon">

            <div class="user-profile-info">
                <img src="/images/profile/default-profileImg.png">
                <h3 id="comment-user-font">닉네임</h3>
                <h3 id="sysdate-font">2024-05-08-sysdate</h3>                    
            </div>

            <div class="a-area">
            
                <a href="" class="action-btn">답글</a>
                <a href="" class="action-btn">수정</a>
                <a href="" class="action-btn">삭제</a>

            </div>
        </div>

        <div class="textarea-div">
            <textarea name="" id="comment-textarea" class="boardCommentSubmit"></textarea>
        </div>

    </div>

    <div class="comment-container">
        <textarea name="" id="reply-textarea" class="boardCommentSubmit"></textarea>
        
        <div class="comment-submit">           
            <button class="commentSubmitBtn">댓글 등록</button>
        </div> 
        
    </div>
    <!-- 페이지 네이션 -->
    <div class="pagination-div">
        <ul class="pagination">
            <!-- 첫 페이지로 이동 -->
            <li><button class="to-list-button" id="leftPageButton">&lt;&lt;</button></li>

            <!-- 목록 버튼 -->
            <li><button class="to-list-button" id="listButton">목록으로</button></li>

            <!-- 끝 페이지로 이동 -->
            <li><button class="to-list-button" id="rightPageButton">&gt;&gt;</button></li>
        </ul>
    </div>
</div>

