<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/nav.css">

    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/board/sportsBoardDetail.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <title>노라조 스포츠 게시판</title>
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>

    <main>
        <div class="main-div">



            <div class="boardMainDetailDiv">

              <div class="boardMainDetailContainer"></div>

              <img src="https://via.placeholder.com/450x450" class="mainImg"/>

              <div class="titleContainer">
                <div class="Rectangle60"></div>
                <h2 class="title">TITLE</h2>
              </div>


              <div class="type-date-container">
               
                <div class="type">
                  <h2 class="type-name">축구</h2>
                </div>
                
                <div class="date">
                  <h3 class="type-date">2024-04-24 12:45</h3>
                </div>
              </div>
            
              
              <div class="joinMemberContainer">
                <div class="joinMemberTitleContainer">
                  <div class="joinMemberTitle">
                    <h2 class="joinTitle">참여 회원 현황</h2>
                  </div>
                </div>
                <div class="joinMemberImgContainer">
                  <img class="joinMemberImg" src="https://via.placeholder.com/80x80"/>
                  <img class="joinMemberImg" src="https://via.placeholder.com/80x80"/>
                  <img class="joinMemberImg" src="https://via.placeholder.com/80x80"/>
                  <img class="joinMemberImg" src="https://via.placeholder.com/80x80"/>
                  <img class="joinMemberImg" src="https://via.placeholder.com/80x80"/>
                </div>
              </div>
            </div>



            <div class="boardDetailWriteDiv">

              <div class="boardDetailWriteContainer">

                <div class="boardWriteTitleContainer">
                  <div class="boardWriteTitle">
                    <h3 class="writeTitle">모임 소개</h3>
                  </div>
                  
                </div>

                <div class="boardWriteContentContainer">
                  <div class="boardContentContainer">
                    <h4 class="boardContent">안녕하십니까 저희KOSS(코스)는 농구에 관심있고 농구를 좋아하는 학생과 선배들이 모여 만들어진 동아리입니다. 저희는 단순히 농구만하는 동아리가 아닌 여러가지 대회출전을 나가기 위해 철저히 훈련하고 단합심을 보여주는 동아리입니다. 저희 코스 동아리를 통해 농구도 배우고 대회 출전을 통해 농구에 관심을 가지고 흥미를 가질 수 있으며 대회 경험을 쌓아가는데 도움이 되는 동아리입니다.</h4>

                  </div>
                  
                </div>
              </div>
            </div>



            <div class="boardDetailDiv">
              <div class="boardDetailContainer">

                <div class="detailTitleContainer">
                  <h3 class="boardDetailTitle">모임 정보</h3>
                </div>

                <div class="detailContainer">

                  <div class="titleContainer2">
                    <h3 class="detailTitle">일시</h3>
                    <h3 class="detail-user">4/23일 (화) 오후 6시</h3>
                  </div>

                  <div class="titleContainer2">
                    <h3 class="detailTitle">위치</h3>
                    <h3 class="detail-user">숙대입구역 1번 출구</h3>
                  </div>

                  <div class="titleContainer2">
                    <h3 class="detailTitle">참석</h3>
                    <h3 class="detail-user">11 /20 (9자리 남음)</h3>
                  </div>
                  
                </div> 
                
                <button class="detailCancelBtn">취소</button>
              </div>
            </div>




            <div class="boardCreatorDetailDiv">
              <div class="creatorContainer">
   
                <div class="creatorDetailContainer">
                  <h3 class="creatorTitle">모임장 소개</h3>
                </div>

                <div class="creatorDetaileBotContainer">

                  <div>
                    <img src="https://via.placeholder.com/200x200" class ="creatorImg">
                  </div>

                  <div class="creatorRightContainer">

                    <div>
                      <div>

                      </div>
                      <div>

                      </div>
                    </div>

                    <div>

                    </div>

                  </div>
                </div>

              </div>
            </div>


            <div class="boardCommentDiv">
              <div style="width: 430px; height: 640px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 30px"></div>
              <div style="width: 380px; height: 149px; left: 25px; top: 353px; position: absolute">
                <div style="width: 65.35px; height: 13.84px; left: 307.64px; top: 13px; position: absolute">
                  <div style="width: 30.55px; height: 13.84px; left: 34.80px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">삭제</div>
                  <div style="width: 30.55px; height: 13.84px; left: 0px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">수정</div>
                </div>
                <div class="04241245" style="width: 150px; height: 15px; left: 125px; top: 12px; position: absolute; color: #3889F2; font-size: 15px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 12:45</div>
                <div class="User1" style="width: 77px; height: 27px; left: 60px; top: 4px; position: absolute; color: #3889F2; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">user1</div>
                
                <div style="width: 380px; height: 111px; left: 0px; top: 38px; position: absolute">
                  <div style="width: 380px; height: 111px; left: 0px; top: 0px; position: absolute; background: #3889F2; border-radius: 30px"></div>
                  <div style="width: 329px; height: 48.56px; left: 25px; top: 34px; position: absolute; color: #FAFAFA; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 29px; word-wrap: break-word">처음 모임  참여해봅니다!<br/>정모가 정말 기대되네요!!!!<br/>열심히 활동해보겠습니다!!</div>
                </div>
              </div>
              <div style="width: 378px; height: 86px; left: 27px; top: 253px; position: absolute">
                <div style="width: 65.01px; height: 13.84px; left: 306.02px; top: 13px; position: absolute">
                  <div style="width: 30.39px; height: 13.84px; left: 34.62px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">삭제</div>
                  <div style="width: 30.39px; height: 13.84px; left: 0px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">수정</div>
                </div>
                <div class="04241245" style="width: 149.21px; height: 15px; left: 124.34px; top: 12px; position: absolute; color: #3889F2; font-size: 15px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 12:45</div>
                <div class="User1" style="width: 76.59px; height: 27px; left: 59.68px; top: 4px; position: absolute; color: #3889F2; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">user1</div>
                <img style="width: 34.82px; height: 35px; left: 9.95px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/35x35" />
                <div style="width: 378px; height: 48px; left: 0px; top: 38px; position: absolute">
                  <div style="width: 378px; height: 48px; left: 0px; top: 0px; position: absolute; background: #3889F2; border-radius: 30px"></div>
                  <div style="width: 327.27px; height: 21px; left: 27.85px; top: 12px; position: absolute; color: #FAFAFA; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 29px; word-wrap: break-word">재밌게 운동해요!!!</div>
                </div>
              </div>
              <div style="width: 380px; height: 84.36px; left: 27px; top: 157px; position: absolute">
                <div style="width: 65.35px; height: 13.84px; left: 307.64px; top: 13px; position: absolute">
                  <div style="width: 30.55px; height: 13.84px; left: 34.80px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">삭제</div>
                  <div style="width: 30.55px; height: 13.84px; left: 0px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">수정</div>
                </div>
                <div class="04241245" style="width: 150px; height: 15px; left: 125px; top: 12px; position: absolute; color: #3889F2; font-size: 15px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 12:45</div>
                <div class="User1" style="width: 77px; height: 27px; left: 60px; top: 4px; position: absolute; color: #3889F2; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">user1</div>
                <img style="width: 35px; height: 35px; left: 10px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/35x35" />
                <div style="width: 380px; height: 46.36px; left: 0px; top: 38px; position: absolute">
                  <div style="width: 380px; height: 46.36px; left: 0px; top: 0px; position: absolute; background: #3889F2; border-radius: 30px"></div>
                  <div style="width: 329px; height: 21px; left: 28px; top: 12px; position: absolute; color: #FAFAFA; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 29px; word-wrap: break-word">처음 모임 참여해봅니다</div>
                </div>
              </div>
              <div style="width: 380px; height: 125.40px; left: 27px; top: 24px; position: absolute">
                <div style="width: 65.35px; height: 13.84px; left: 307.64px; top: 13px; position: absolute">
                  <div style="width: 30.55px; height: 13.84px; left: 34.80px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">삭제</div>
                  <div style="width: 30.55px; height: 13.84px; left: 0px; top: 0px; position: absolute; text-align: center; color: #3889F2; font-size: 18px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">수정</div>
                </div>
                <div class="04241245" style="width: 150px; height: 15px; left: 125px; top: 12px; position: absolute; color: #3889F2; font-size: 15px; font-family: Do Hyeon; font-weight: 400; line-height: 19px; word-wrap: break-word">2024-04-24 12:45</div>
                <div class="User1" style="width: 77px; height: 27px; left: 60px; top: 4px; position: absolute; color: #3889F2; font-size: 20px; font-family: BM DoHyeon OTF; font-weight: 400; line-height: 19px; word-wrap: break-word">user1</div>
                <img style="width: 35px; height: 35px; left: 10px; top: 0px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/35x35" />
                <div style="width: 380px; height: 87.40px; left: 0px; top: 38px; position: absolute">
                  <div style="width: 380px; height: 87.40px; left: 0px; top: 0px; position: absolute; background: #3889F2; border-radius: 30px"></div>
                  <div class="Infp" style="width: 329px; height: 63px; left: 23px; top: 12px; position: absolute; color: #FAFAFA; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 29px; word-wrap: break-word">infp같았는데... <- 이거였는데 바뀜<br/>역시 엠비티아이는 과학이다 사이언스</div>
                </div>
              </div>
              <div style="width: 380px; height: 110px; left: 25px; top: 510px; position: absolute; background: #3889F2; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px; overflow: hidden">
                <div class="Rectangle57" style="width: 253px; height: 87px; left: 15px; top: 11px; position: absolute; background: #FAFAFA; border-radius: 30px"></div>
                <div style="width: 90px; height: 50px; left: 277px; top: 30px; position: absolute">
                  <div class="Rectangle57" style="width: 90px; height: 50px; left: 0px; top: 0px; position: absolute; background: #076DF2; border-radius: 30px"></div>
                  <div style="width: 67px; height: 18px; left: 12px; top: 16px; position: absolute; text-align: center; color: #FAFAFA; font-size: 20px; font-family: Do Hyeon; font-weight: 400; line-height: 24px; word-wrap: break-word">댓글등록</div>
                </div>
              </div>
            </div>
    
          </div>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>