<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/nav.css">

    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/board/sportsBoardDetail.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/fragments/sportsBoardDetailModal.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <title>노라조 스포츠 게시판</title>
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>

    <main>
        <div class="main-div">


          <!-- ------------------------------------------- -->
          <!-- 메인 모임글 컨테이너 -->
            <div class="boardMainDetailDiv">


              <div class="boardMainDetailContainer"></div>
              
              <!-- 모임글 정보 / 참여인원 등 타임리프 -->

              <th:block th:object="${board}">
                <img th:src="*{thumbnail}" class="mainImg"/>

                <div class="titleContainer">
                  <div class="Rectangle60"></div>
                  <h2 class="title" th:text="*{boardTitle}">TITLE</h2>
                </div>
                

                <div class="type-date-container">
                
                  <div class="type">
                    <h2 class="type-name" th:text="${board.sportsKrName}">SPORTS TYPE</h2>
                  </div>
                  
                  <div class="date">
                    <h3 class="type-date" th:text="${board.boardWriteDate}">CREATE DATE</h3>
                  </div>
                </div>
              

                <div class="joinMemberContainer">
                  <div class="joinMemberTitleContainer">
                    <div class="joinMemberTitle">
                      <h2 class="joinTitle">참여 회원 현황</h2>
                    </div> 

                    <!-- 참여회원 현황 클릭시 모달창 -->
                    <div class="joinMemberIconContainer">
                      <ion-icon name="person" class="personIco joinMemberStatus"></ion-icon>
                      <h4 class="joinMemberStatus" th:text="|*{attendMemberCount} / *{memberCountLimit}|">ATTENDED MEMBER</h4>
                    </div>
                  </div>


                  <!-- modal fragment -->
                 <th:block th:replace="~{common/fragments/sportsBoardDetailModal}"></th:block>

                  <div class="joinMemberImgContainer">

                    <th:block th:each="memberList, stat : ${memberList}" th:object="${memberList}">
                      <th:block th:if="${5 > stat.index}">
                        <img class="joinMemberImg" th:src="*{profileImg}" id="profileImg"/>
                      </th:block>
                    </th:block>

                    <th:block th:if="${5 > #lists.size(memberList)}">
                      <th:block th:each="i : ${#numbers.sequence(#lists.size(memberList), 4)}">
                        <img class="joinMemberImg" src="/images/profile/blankprofile.png" id="profileImg"/>
                      </th:block>
                    </th:block>

                  </div>
                </div>


              </th:block>



            </div>


            <!-- ------------------------------------------- -->
            <!-- 모임 소개 컨테이너 -->

            <div class="boardDetailWriteDiv">

              <!-- 모임 소개 타임리프 -->
              <th:block th:object="${board}">

                <div class="boardDetailWriteContainer">

                  <div class="boardWriteTitleContainer">
                    <div class="boardWriteTitle">
                      <h3 class="writeTitle">모임 소개</h3>
                    </div>
                    
                  </div>

                  <div class="boardWriteContentContainer">
                    <div class="boardContentContainer">
                      <h4 class="boardContent" th:text="*{boardContent}" id="boardContent">BOARD CONTENT</h4>
                    </div>
                    
                  </div>
                </div>

              </th:block>



            </div>

            <!-- ------------------------------------------- -->
            <!-- 모임 정보 컨테이너 -->

            <div class="boardDetailDiv">

              <!-- 모임정보 타임리프 -->
              <th:block th:object="${board}">
                <div class="boardDetailContainer">

                  <div class="detailTitleContainer">
                    <h3 class="boardDetailTitle">모임 정보</h3>
                  </div>

                  <div class="detailContainer">

                    <div class="titleContainer2">
                      <h3 class="detailTitle">일시</h3>
                      <h3 class="detail-user" th:text="*{meetingDate}">DATE</h3>
                    </div>

                    <div class="titleContainer2">
                      <h3 class="detailTitle">위치</h3>
                      <h3 class="detail-user" th:text="*{meetingLocation}">LOCATION</h3>
                    </div>

                    <div class="titleContainer2">
                      <h3 class="detailTitle">참석</h3>
                      <h3 class="detail-user" id="memberInfo"
                          th:data-attend="*{attendMemberCount}"
                          th:data-limit="*{memberCountLimit}">ATTENDED MEMBER
                      </h3>
                    </div>
                  
                  </div> 

                  <!-- 취소 -->
                  <th:block th:if="${createMember.memberNo == session.loginMember.memberNo}">
                    <button class="detailCancelBtn" id="updateSportsBoard"
                            th:data-board-no="${board.boardNo}"
                            th:data-sports-code="${board.sportsCode}">모임 수정</button>
                    <input type="hidden" th:value="${board.memberNo}" id="memberNo" name="memberNo">
                    <input type="hidden" th:value="${boardNo}" id="boardNo" name="boardNo">
                    <input type="hidden" th:value="${createMember.memberNo}" id="createMemberNo" name="createMemberNo">
                    <input type="hidden" th:value="${session.loginMember.memberNo}" id="loginMemberNo" name="loginMemberNo">
                    <button class="detailCancelBtn" id="deleteSportsBoard"
                            th:data-board-no="${board.boardNo}" 
                            th:data-sports-code="${board.sportsCode}">모임 삭제</button>
                  </th:block>
                  
                  <form action="/sportsBoard/deleteJoinMember" method="POST">
                    <th:block th:if="${createMember.memberNo != session.loginMember.memberNo}">
                      <button class="detailCancelBtn" id="deleteJoinMember">참여 취소</button>
                      <input type="hidden" th:value="${board.memberNo}" id="memberNo" name="memberNo">
                      <input type="hidden" th:value="${boardNo}" id="boardNo" name="boardNo">
                      <input type="hidden" th:value="${createMember.memberNo}" id="createMemberNo" name="createMemberNo">
                      <input type="hidden" th:value="${session.loginMember.memberNo}" id="loginMemberNo" name="loginMemberNo">
                    </th:block>
                  </form>
                </div>
              </th:block>



            </div>

            
            <!-- ------------------------------------------- -->
            <!-- 모임장 소개 컨테이너 -->
            <div class="boardCreatorDetailDiv">
              <div class="creatorContainer">
   

                <div class="creatorDetailContainer">
                  <h3 class="creatorTitle">모임장 소개</h3>
                </div>
                <!-- 모임장 정보 타임리프 -->
                <th:block th:object="${createMember}">
                  <div class="creatorDetaileBotContainer">
                    <div>
                      <img th:src="*{profileImg}" class ="creatorImg">
                    </div>

                    <div class="creatorRightContainer">

                      <div class="userProfile">
                        <div class="userNameContainer">
                          <h3 class="userName" th:text="*{memberNickname}">USER NAME</h3>
                        </div>
                        <div class="userEmailContainer">
                          <h3 class="userEmail" th:text="*{memberEmail}">USER EMAIL</h3>
                        </div>
                      </div>

                      <div class="userInfoContainer">
                        <h3 class="userInfo" th:text="*{memberIntroduce}" id="memberIntroduce">USER INFO</h3>
                      </div>
                    </div>
                  </div>
                </th:block>



              </div>
            </div>


            <!-- ------------------------------------------- -->
            <!-- 대화내용 컨테이너 -->

            <th:block th:replace="~{common/fragments/sportsBoardDetailComment}"></th:block>
            
            <!-- <th:block th:if="${session.loginMember.memberNo}  == ${board.memberNo}">
              <button id="updateSportsBoard" 
                      th:data-board-no="${board.boardNo}" 
                      th:data-sports-code="${board.sportsCode}"
                      style="width: 100px; height: 50px; color: white; background-color: var(--primary3); font-size: 20px;">수정</button>
              <button id="deleteSportsBoard" 
                      th:data-board-no="${board.boardNo}" 
                      th:data-sports-code="${board.sportsCode}"
                      style="width: 100px; height: 50px; color: white; background-color: var(--primary3); font-size: 20px; margin-top: 10px;">삭제</button>
            </th:block> -->
    </main>
    <th:block th:replace="~{common/footer}"></th:block>
    <script src="/js/sportsBoard/sportsBoardDetail.js"></script>
    <script src="/js/fragments/sportsBoardDetailModal.js"></script>
</body>
</html>