<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/board/sportsBoardWrite.css">
    
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <title>모임글 수정 페이지</title>
</head>
<body>

    <th:block th:replace="~{common/nav}"></th:block>
    
    <main>

        <div class="write-type">
            <h1>모임 수정하기</h1>
        </div>

        <form th:action="@{/editBoard/update/{sportsCode}/{boardNo}(sportsCode=${board.sportsCode}, boardNo=${board.boardNo})}" method="post" class="board-write" id="boardUpdateFrm" enctype="multipart/form-data">
            <div>
                <h1>모임 정보</h1>
            </div>

            <div class="write-head">
                <!-- 썸네일 -->
                <label for="inputThumbnail" class="thumbnail-label">
                    <img class="preview" id="thumbnailImg">
                    <span class="delete-image">x</span>
                </label>
                <input type="file" id="inputThumbnail" name="inputThumbnail" class="inputImage" accept="image/*" hidden>

                <!-- 모임 정보 -->
                <div class="meeting-info">
                    <!-- 제목 -->
                    <label class="board-title" for="title-input">
                        <input class="board-title-input" 
                               name="boardTitle" 
                               id="title-input" 
                               type="text" 
                               maxlength="20" 
                               placeholder="제목 (20글자 이내 작성)"
                               th:value="${board.boardTitle}">
                    </label>

                    <!-- 모임 날짜 -->
                    <div>   
                        <!-- 날짜 선택 -->
                        <div class="datetime">
                            <ion-icon name="calendar-clear-outline" class="date-icon"></ion-icon>
                            <!-- 연도월일 양식 바꿔서 삽입해야함 -->
                            <input type="datetime-local" name="meetingDate"> 
                        </div>

                        <!-- 카테고리 선택 -->
                        <h1></h1>
                        <div class="category-select-div">
                            <select id="" class="category-select" name="sportsCode">
                                <option class="category-option" th:value="${board.sportsCode}">[[${board.sportsKrName}]]</option>
                                <th:block th:each="category : ${sportsTypeList}"
                                          th:if="${category.sportsKrName} != ${board.sportsKrName}">
                                    <option th:value="${category.sportsCode}" class="category-option-value">[[${category.sportsKrName}]]</option>
                                </th:block>
                            </select>
                        </div>
                    </div>

                    <!-- 모임 장소 -->
                    <div>
                        <ion-icon name="compass-outline" class="place-icon"></ion-icon>
                        <input class="place-input" 
                               name="meetingLocation" 
                               id="place-input" 
                               type="text" 
                               maxlength="15"
                               placeholder="장소 (15글자 이내 작성)"
                               th:value="${board.meetingLocation}">
                    </div>

                    <!-- 참석 인원 -->
                    <div>
                        <!-- 사람 아이콘, 정원(1~50명) -->
                        <ion-icon name="person-outline" class="member-count-limit"></ion-icon>
                        <h2>정원(1 ~ 50명)</h2>
                        <select id="" class="member-count-select" name="memberCountLimit"
                                th:data-sports-type-list="${session.sportsTypeList}">
                            <option value="">인원수</option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <h1>모임 소개글</h1>
            </div>

            <div class="write-body">
                <textarea name="boardContent" maxlength="2000" th:text="${board.boardContent}"></textarea>
            </div>

            <div>
                <button class="joinMemberViewBtn" id="updateBtn">수정하기</button>
            </div>

            <!-- 기존 이미지가 있다가 삭제된 이미지의 순서를 기록-->
            <input type="hidden" name="deleteOrder" value="">

            <!-- 수정 성공 시 주소(쿼리스트링) 유지용도 -->
            <input type="hidden" name="querystring">

        </form>

    </main>

    <th:block th:replace="~{common/footer}"></th:block>

     <!-- 이미지 미리보기 설정 -->
    <script th:inline="javascript">
        const imageList = /*[[${board.imageList}]]*/ [];
        const previewList = document.querySelectorAll("img.preview");
        const attendMemberCount = /*[[${board.attendMemberCount}]]*/ "";

        const orderList = []; // 기존에 존재하던 이미지 순서를 기록

        for(let img of imageList){
            previewList[img.imgOrder].src = img.imgPath + img.imgRename;

            orderList.push(img.imgOrder);
            // 다섯개 이미지가 전부 다 있을 경우
            // -> [0, 1, 2, 3, 4]
        }
    </script>

    <script src="/js/sportsBoard/sportsBoardUpdate.js"></script>
</body>
</html>