<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">

    <link rel="stylesheet" href="/css/fragments/adBanner.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/fragments/modal.css">

    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/board/sportsBoard.css">

    <title>스포츠 게시판</title>
</head>
<body>
    
    <th:block th:replace="~{common/nav}"></th:block>

    <main>

        <div class="boart-title">
            <h1>OO 게시판</h1>
        </div>



    </main>
    
</body>
</html>