<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/nav.css">

    <link rel="stylesheet" href="/css/board/sportsBoardDetail.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <title>노라조 스포츠 게시판</title>
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>

    <main>
        <section>
            <div class="boardDetailSec">
                <div>

                </div>
                <div>
                    <div class="left-side">
                        <div class="left-side-top">

                        </div>
                        <div class="left-side-bot">

                        </div>
                    </div>
                    <div class="right-side">

                    </div>
                </div>
            </div>
        </section>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
</body>
</html>