/* 버튼 */

/* 240501 : 
- button 
cursor -> add

- input
padding add 
text-size bigger
onclick -> black to transparent
*/



/* 버튼 메인 CSS */
button {
    left: 0px; 
    top: 0px;
    border-radius: 30px;
    transition: background-color 0.3s;
    border-color: transparent;
    cursor: pointer;

    /* 폰트 */
    font-family: 'main';
    word-wrap: break-word;
    text-align: center; 
    color: var(--white); 
}

button:hover {
    left: 0px; 
    top: 0px;
    background: var(--secondary);
    border-radius: 30px;
    transition: background-color 0.3s;
    border-color: transparent;

    /* 폰트 */
    font-family: 'main';
    color: var(--white);
    text-align: center;
    word-wrap: break-word;
}


/* ----------------------------------------------------------- */

/* 회원가입 관련 버튼 */





/* 회원가입 (가입하기) 버튼 */
.signupSubmitBtn {
    width: 1090px; 
    height: 70px;
    background-color: var(--primary1);

    /* 폰트 */
    font-size: 25px;
}
.singupSubmitBtn:hover {
    width: 1090px; 
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}



/* 회원가입 (인증요청) / (주소검색) / (중복확인) 버튼 */
.singupBtn {
    width: 250px;
    height: 70px;
    background-color: var(--primary3);

    /* 폰트 */
    font-size: 25px;
}
.singupBtn:hover {
    width: 250px;
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}


/* ----------------------------------------------------------- */

/* 로그인 관련 버튼 */

.loginBtn {
    width: 420px;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--primary1);
  
    /* 폰트 */
    font-size: 25px; 
}
.loginBtn:hover {
    width: 420px;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* 폰트 */
    font-size: 25px; 
}


/* ----------------------------------------------------------- */

/* 모달창 관련 버튼 */

.joinBtn {
    width: 590px;
    height: 70px;
    background-color: var(--primary1);

    /* 폰트 */
    font-size: 25px;
}
.joinBtn:hover {
    width: 590px;
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}

/* ----------------------------------------------------------- */

/* 모임글 작성 관련 버튼 */




/* 모임글 작성 페이지 (등록하기) */
.boardSubmitBtn {
    width: 500px;
    height: 70px;
    background-color: var(--primary1);

    /* 폰트 */
    font-size: 25px;
}
.boardSubmitBtn:hover {
    width: 500px;
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}


/* 모임글 작성 페이지 (등록하기) */
.boardCreateBtn {
    width: 500px;
    height: 50px;
    background-color: var(--primary1);

    /* 폰트 */
    font-size: 25px;
}
.boardCreateBtn:hover {
    width: 500px;
    height: 50px;

    /* 폰트 */
    font-size: 25px;
}

/* ----------------------------------------------------------- */


/* 게시판 관련 버튼 */



/* 게시판 (변경하기) / (수정하기)  버튼 */
.updateBoardBtn {
    width: 130px;
    height: 50px;

    /* 폰트 */
    font-size: 25px;
}
.updateBoardBtn:hover {
    width: 130px;
    height: 50px;

    /* 폰트 */
    font-size: 25px;
}

.commentSubmitBtn {
    width: 250px;
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}
.commentSubmitBtn:hover {
    width: 250px;
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}

/* 게시판 글 (변경하기) / (수정하기) 버튼 */
.updateBoardSubmitBtn {
    width: 500px;
    height: 50px;
    background-color: var(--primary1);

    /* 폰트 */
    font-size: 25px;
}
.updateBoardSubmitBtn:hover {
    width: 500px;
    height: 50px;

    /* 폰트 */
    font-size: 25px;
}



/* ----------------------------------------------------------- */

/* 게시판 모임글 상세조회 */





/* 상세조회 (잠여현황) 버튼 + 모임글 게시판 (작성하기) */ 
.joinMemberViewBtn {
    width: 250px; 
    height: 70px;
    background-color: var(--primary2);

    /* 폰트 */
    font-size: 25px;
}
.joinMemberViewBtn:hover {
    width: 250px; 
    height: 70px;

    /* 폰트 */
    font-size: 25px;
}

/* 상세조회 (잠여 쥐소) 버튼 */
.detailCancelBtn {
    width: 390px;
    height: 50px;
    background-color: var(--primary2);

    /* 폰트 */
    font-size: 25px;
}
.detailCancelBtn:hover {
    width: 390px;
    height: 50px;
    
    /* 폰트 */
    font-size: 25px;
}


/* 상세조회 (댓글등록) 버튼 */
.detailCommentSubmitBtn {
    width: 90px;
    height: 50px;
    background-color: var(--primary2);

    /* 폰트 */
    font-size: 20px;

}
.detailCommentSubmitBtn:hover {
    width: 90px;
    height: 50px;

    /* 폰트 */
    font-size: 20px;
}


/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */


/* 인풋 박스 */

/* 인풋 메인 CSS */

input {
    background: var(--white); 
    border-radius: 30px; 
    padding-left: 15px;
    /* 폰트 */
    font-family: 'main';
    color: var(--gray1);
}

input::placeholder {
    color: var(--gray3); 
}

input:focus {
    outline: none;
}

/* ----------------------------------------------------------- */

/* 로그인 인풋 */

.loginInput {
    width: 420px; 
    height: 60px; 
    border: 3px var(--primary2) solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* 폰트 */
   font-size: 20px;
}

.loginInputPw {
    width: 420px; 
    height: 60px; 
    border: 3px var(--primary2) solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* 폰트 */
   font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginInputPw::placeholder {
    color: var(--primary3);
    font-size: 20px;
    font-family: 'main';
}


.loginInput::placeholder {
    color: var(--primary3);
    font-size: 20px;
}

/* ----------------------------------------------------------- */

/* 회원가입 인풋 */

.signupInput1 {
    width: 1090px; 
    height: 70px; 
    border: 3px var(--primary3) solid;
    

    /* 폰트 */
    font-size: 15px;
}
.signupInput1::placeholder {
    font-size: 15px;
    font-family: 'main';
}


.signupInput2 {
    width: 800px; 
    height: 70px; 
    border: 3px var(--primary3) solid;

    /* 폰트 */
    font-size: 15px;
}
.signupInput2::placeholder {
    font-size: 15px;
    font-family: 'main';
}

.signupInputPw {
    width: 1090px; 
    height: 70px; 
    border: 3px var(--primary3) solid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* 폰트 */
    font-size: 15px;
}
.signupInputPw::placeholder {
    font-size: 15px;
    font-family: 'main';
}

/* ----------------------------------------------------------- */

/* 프로필 수정 인풋 */
.profileUpdateInput1 {
    width: 500px; 
    height: 50px; 
    border: 3px var(--gray3) solid;
    border-radius: 30px; 
    
    /* 폰트 */
    font-size: 20px;
}
.profileUpdateInput1::placeholder {
    font-size: 20px;
}


.profileUpdateInput2 {
    width: 370px; 
    height: 50px; 
    border: 3px var(--gray3) solid;
    
    /* 폰트 */
    font-size: 20px;
}
.profileUpdateInput2::placeholder {
    font-size: 20px;
}


/* ----------------------------------------------------------- */

/* 게시판 관련 인풋 */

/* 게시판 (댓글)등록 인풋 */

.boardCommentInput {
    width: 760px;
    height: 110px;

    /* 폰트 */
    font-size: 25px;
}


/* 게시판 등록하기 인풋*/
.boardCreateInput {
    width: 1000px;
    height: 720px;

    /* 폰트 */
    font-size: 25px;
}
.boardCreateInput::placeholder {
    font-size: 25px;
}


/* ----------------------------------------------------------- */

/* 모임글 상세조회 댓글등록 인풋 */

.boardDetailCommentInput {
    width: 250px; 
    height: 90px;
    border: none;
    font-size: 15px;
    resize: none;
    border-radius: 30px;
    padding: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'main';
}
.boardDetailCommentInput::placeholder {
    color: var(--gray3);
    font-size: 15px;
}

::-webkit-scrollbar {
    width: auto;
}
.boardDetailCommentInput:focus {
    outline: none;
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */



/* a 테그 */

.loginTag {
    text-align: center; 
    color: var(--primary1); 
    font-size: 20px; 
    font-family: 'main' !important;
    word-wrap: break-word;
    text-decoration: none;
}