* {
    box-sizing: border-box;
    border: 1px solid red;
    padding: 0;
    margin: 0;
}

main * {
    /* width: 1090px; 임성혁 수정 */
}

/* 폰트 */
@font-face {
    font-family: 'main';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 서브폰트 */
@font-face {
    font-family: 'regular';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hana/HanaLight.ttf') format("truetype");
    font-display: swap;
}

/* h태그 */
h1 {
    font-family: 'main';
    font-size: 40px;
}
h2 {
    font-family: 'main';
    font-size: 25px;
}
h3 {
    font-family: 'regular';
    font-size: 20px;
}
h4 {
    font-family: 'regular';
    font-size: 15px;
}

/* color */
:root {
    --primary1: #0554F2;
    --primary2: #076DF2;
    --primary3: #3889F2;
    --secondary: #FFD332;
    --gray1: #3C3C3C;
    --gray2: #808080;
    --gray3: #B4B4B4;
    --gray4: #E1E1E1;
    --white: #FAFAFA;    
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1090px; /* 임성혁 수정 */
}
article {
    height: 35.185vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/* 신규 모임글 */
.sportsBoard-header {
    display: flex;
    width: 1090px;
    align-items: end;
}

.sportsBoard-header-title {
    text-align: start;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    width: 950px;
}

.sportsBoard-whole-view {
    text-decoration: none;
    width: auto;
    height: 50px;
    font-size: 15px;
    font-family: 'main';
    color: black;
}

.whole-view:visited { color: black; }    

.sportsBoard-list {
    display: flex;
    flex-wrap: wrap;
    width: 1090px;
}

.sportsBoard-list > div {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 275px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 35px;
}

.sportsBoard-list > div > img {
    width: 230px; 
    height: 200px; 
    border-radius: 30px; 
    background-color: rgb(255, 255, 255); 
    padding: 0px;
    margin: 0;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.sportsBoard-list > div > div {
    height: 65px;
    margin-top: 10px;
}

.sportsBoard-title {
    color: #3C3C3C; 
    font-size: 18px; 
    text-align: start; 
    width: auto;
    cursor: pointer;
}



/* 자유게시판 */
.freeBoard-header {
    display: flex;
    width: 1090px;
    align-items: end;
}

.freeBoard-header-title {
    text-align: start;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    width: 950px;
}

.freeBoard-whole-view {
    text-decoration: none;
    width: auto;
    height: 50px;
    font-size: 15px;
    font-family: 'main';
    color: black;
}

.freeBoard-list {
    display: flex;
    width: 1020px;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid var(--gray3);
}

.freeBoard-list > a {
    width: 70%;
    font-weight: 100;
    margin-left: 30px;
    font-family: 'main';
    font-size: 25px;
    text-decoration: none;
}

.freeBoard-list > a:visited { color: black; } 

.freeBoard-nickname {
    width: 10%;
    font-weight: 1000;
    color: var(--gray2);
}

.freeBoard-address {
    width: auto;
    font-weight: 1000;
    color: var(--gray2);
}