/* * {
    border: 1px solid red;
} */


/* nav바 */
.nav-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 70px; 
    background-color: #E1E1E1;
    border-bottom: 3px solid #FFD332;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-div {
    display: flex; 
    width: 1090px; 
    align-items: center;
}

.nav-category-btn {
    background-color: #076DF2;
     width: 30px; 
     height: 30px; 
     border-radius: 5px; 
     margin-top: 4px;
}

.logo-div {
    margin-left: 20px;
}

.logo-div > a {
    text-decoration: none; 
    font-size: 35px; 
    color: #076DF2; 
    font-weight: bold;
}

.search-box-div {
    margin-left: 20px;
}

.search-box-div > input {
    width: 590px; 
    height: 40px; 
    font-size: 15x; 
    border-radius: 30px; 
    border: solid #076DF2; 
}

.nav-btn-div {
    display: flex; 
    margin-left: 20px;
}

.nav-btn-div > div {
    display: flex; 
    margin: 5px;
    cursor: pointer;
}

.nav-btn-div > div >  {
    font-size: 30px; 
    text-decoration: none;
}

.btnlist {
    font-size: 40px; 
    margin-top: 5px;
    text-decoration: none;
    color: #076DF2;
}




/* 숨겨진 카테고리 목록 div */
.card-container {
    display: flex; 
    justify-content: center;
}

.div-center {
    width: 1090px; 
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.category-text {
    font-size: 25px; 
    margin-top: 10px; 
    margin-bottom: 0px;
}

.card-list {
    width: 860px;
}

.card-1-div {
    width: 200px; 
    height: 120px; 
    border-radius: 15px; 
    margin-left: 10px; 
    margin-top: 10px; 
    position: relative;
}

.card-1-img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 200px; 
    height: 120px; 
    border-radius: 15px; 
    cursor: pointer;
  }
  
.card-1-img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.card-1-title {
    text-shadow: 2px 2px 4px #000000;
    color: #fafafa;
    position: absolute; 
    top: 68%; 
    left: 8%; 
}