/* nav */
/* 990px보다 큰 화면일 때 */
@media (min-width: 990px) {
    .nav-container {
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        height: 70px;
        width: 100%;
        background-color: #E1E1E1;
        /* border-bottom: 3px solid #FFD332; */
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .nav-div {
        display: flex; 
        width: 1090px; 
        justify-content: center;
        align-items: center;
    }

    .nav-div > :nth-child(1) {
        width: 35px;
        height: 35px;
    }

    .category-btn {
        color: #076DF2;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav-div > :nth-child(2) {
        width: 130px;
        height: 25px;
    }

    .logo {
        width: 130px;
        height: 25px;
        cursor: pointer;
    }

    .search-box-div {
        width: 590px;
        height: 35px;
        margin-left: 10px;
        border-radius: 30px; 
        border: solid var(--secondary); 
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box-div > input {
        width: 540px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .search-box-div > input::placeholder {
        font-size: 13px;
    }

    .search-box-div > input:focus {outline:none;}

    .searchAllBtn {
        font-size: 25px;
        color: var(--primary1);
        cursor: pointer;
    }

    .btnlist {
        display: flex; 
        margin-left: 10px;
    }

    .btnlist > a {
        width: 35px;
        height: 35px;
        margin-left: 10px; 
    }
    
    .btnlist * {
        font-size: 30px;
        text-decoration: none;
        color: #076DF2;
        cursor: pointer;
    }
}

/* nav */
/* 990px보다 작은 화면일 때 */
@media (max-width: 990px) {
    .nav-container {
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        height: 70px;
        width: 100%;
        background-color: #E1E1E1;
        border-bottom: 3px solid #FFD332;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .nav-div {
        width: 550px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid blue;
    }

    .nav-div > :nth-child(1) {
        width: 35px;
        height: 35px;
    }

    .category-btn {
        color: #076DF2;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav-div > :nth-child(2) {
        width: 100px;
        height: 25px;
        margin-left: 10px;
    }
    
    .logo {
        width: 100px;
        height: 25px;
        cursor: pointer;
    }
    
    .search-box-div {
        width: 180px;
        height: 35px;
        margin-left: 10px;
        border-radius: 20px; 
        border: solid var(--secondary); 
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-box-div > input {
        width: 140px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    
    .search-box-div > input::placeholder {
        font-size: 13px;
    }
    
    .search-box-div > input:focus {outline:none;}

    .searchAllBtn {
        font-size: 20px;
        color: var(--primary1);
        cursor: pointer;
    }
    
    .btnlist {
        display: flex; 
        margin-left: 10px;
    }

    .btnlist > a {
        width: 35px;
        height: 35px;
        margin-left: 10px; 
    }
    
    .btnlist * {
        font-size: 30px;
        text-decoration: none;
        color: #076DF2;
        cursor: pointer;
    }
}

/* 카테고리 */
/* 1900px보다 큰 화면일 때 */
@media (min-width: 1900px) {
    .category-container {
        width: 830px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .category-header {
        width: auto;
        height: 50px;
        display: flex;
        text-align: center;
        margin-top: 20px;
    }
    
    .category-list-div {
        width: 830px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 5px solid var(--primary3);
        border-radius: 30px;
        padding: 10px;
    }
    
    .category-div {
        width: 180px;
        height: 100px; 
        border-radius: 15px; 
        position: relative;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
    .category-img {
        width: 180px; 
        height: 100px; 
        border-radius: 15px; 
    }
    
    .category-div:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    
    .category-title {
        width: auto;
        text-shadow: 2px 2px 4px #000000;
        color: #fafafa;
        position: absolute; 
        top: 58%; 
        left: 10%; 
    } 
}  

/* 카테고리 */
/* 1900px보다 작은 화면일 때  */
@media (max-width: 1900px) {
    .category-container {
        width: 43.75vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .category-header {
        width: auto;
        height: 50px;
        display: flex;
    }
    
    .category-list-div {
        width: 43.75vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 5px solid var(--primary3);
        border-radius: 30px;
        padding: 10px;
    }
    
    .category-div {
        width: 180px;
        height: 100px; 
        border-radius: 15px; 
        position: relative;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
    .category-img {
        width: 180px; 
        height: 100px; 
        border-radius: 15px; 
    }
    
    .category-div:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    
    .category-title {
        width: auto;
        text-shadow: 2px 2px 4px #000000;
        color: #fafafa;
        position: absolute; 
        top: 58%; 
        left: 10%; 
    } 
} 




/* 드롭다운 메뉴 */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
    position : relative;
    display : inline-block;
    
    width: 35px;
    height: 35px;
    margin-left: 10px; 
}

.dropbtn{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--secondary);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    background-color: var(--gray4);
    min-width : 120px;
    border-radius: 10px;
    border: 2px solid var(--secondary);
    top: 104%;
    right: 0%;
}

.dropdown-content a{
    display : block;
    text-decoration : none;
    color : var(--primary1);
    font-family: 'regular';
    font-weight: 1000;
    font-size: 15px;
    padding : 12px 20px;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content a:hover{
    background-color : #ececec
}

.dropdown:hover .dropdown-content {
    display: block;
}