@media (min-width: 950px) {
    .nav-container {
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        height: 70px;
        width: 100%;
        background-color: #E1E1E1;
        /* border-bottom: 3px solid #FFD332; */
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .nav-div {
        display: flex; 
        width: 1090px; 
        justify-content: center;
        align-items: center;
    }

    .category-btn {
        color: #076DF2;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .logo {
        width: 130px;
        height: 25px;
        cursor: pointer;
    }

    .search-box-div {
        width: 590px;
        height: 35px;
        margin-left: 10px;
        border-radius: 30px; 
        border: solid var(--secondary); 
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-box-div > input {
        width: 540px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .search-box-div > input::placeholder {
        font-size: 13px;
    }

    .search-box-div > input:focus {outline:none;}

    .searchAllBtn {
        font-size: 25px;
        color: var(--primary1);
        cursor: pointer;
    }

    .btnlist {
        display: flex; 
        margin-left: 10px;
    }
    
    .btnlist * {
        font-size: 30px;
        text-decoration: none;
        color: #076DF2;
        margin-left: 10px;
        cursor: pointer;
    }
    
}

@media (max-width: 950px) {
    .nav-container {
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        height: 70px;
        width: 100%;
        background-color: #E1E1E1;
        border-bottom: 3px solid #FFD332;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .nav-div {
        width: 550px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid blue;
    }
    
    .category-btn {
        color: #076DF2;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .logo {
        width: 100px;
        height: 25px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .search-box-div {
        width: 180px;
        height: 35px;
        margin-left: 10px;
        border-radius: 20px; 
        border: solid var(--secondary); 
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-box-div > input {
        width: 140px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    
    .search-box-div > input::placeholder {
        font-size: 13px;
    }
    
    .search-box-div > input:focus {outline:none;}

    .searchAllBtn {
        font-size: 20px;
        color: var(--primary1);
        cursor: pointer;
    }
    
    .btnlist {
        display: flex; 
        margin-left: 10px;
    }
    
    .btnlist * {
        font-size: 30px;
        text-decoration: none;
        color: #076DF2;
        margin-left: 10px;
        cursor: pointer;
    }
}

.category-container {
    width: 43.75vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.category-header {
    width: 250px;
    height: 50px;
    display: flex;
    text-align: center;
}

.category-list-div {
    width: 43.75vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid var(--primary3);
    border-radius: 30px;
    padding: 10px;
}

.category-div {
    width: 180px;
    height: 100px; 
    border-radius: 15px; 
    position: relative;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.category-img {
    width: 180px; 
    height: 100px; 
    border-radius: 15px; 
}

.category-div:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.category-title {
    font-weight: 100;
    text-shadow: 2px 2px 4px #000000;
    color: #fafafa;
    position: absolute; 
    top: 60%; 
    left: 10%; 
} 


