<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/fragments/myPage.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>
    <main>
        <div class="contents">
            <th:block th:replace="~{common/fragments/myPageLeftSide}"></th:block>
            <div class="MyProfileRight">
                <div class="title"><h2>나의 모임 현황</h2></div>
                <div class="menu">
                    <div class="create"><a href="/myPage/create"><h3><ion-icon name="person-add"></ion-icon> 내가 만든 모임</h3></a></div>
                    <div class="belong"><a href="/myPage/belong"><h3><ion-icon name="people"></ion-icon> 내가 속한 모임</h3></a></div>
                    <div class="heart"><a href="/myPage/heart"><h3><ion-icon name="heart"></ion-icon> 내가 찜한 모임</h3></a></div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="~{common/footer}"></th:block>

</body>
</html>