<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노라조</title>
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/fragments/findPw.css">
</head>
<body>
    <th:block th:replace="~{common/nav}"></th:block>
    <main>
        <section class="sectionDiv">
             <!-- 로고 -->
             <img src="/images/logo.png" alt="homeLogo" id="logo">
        
             <!-- 비밀번호찾기 폼-->
             <form action="/member/findPw" method="post" id="findPwForm">
                
                <div class="findPwDiv">
                    <!-- 이메일 -->
                    <div class="findPw">

                        <input type="text" name="memberEmail" id="memberEmail" 
                        placeholder="아이디(이메일)" maxlength="30" autocomplete="off">
                        
                    </div>
                    <span class="signUp-message" id="emailMessage"><h4>메일을 받을 수 있는 이메일을 입력해주세요.</h4></span>

                </div>
                     
                 <button id="findPwBtn">비밀번호 찾기</button>
             </form>

 
        </section>
     </main>
     <th:block th:replace="~{common/footer}"></th:block>
     <script src="/js/member/findPw.js"></script>
</body>
</html>