<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노라조</title>
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="icon" type="image/x-icon" href="/images/norazo-favicon.ico">
    <link rel="stylesheet" href="/css/common/main.css">
    <link rel="stylesheet" href="/css/common/button.css">
    <link rel="stylesheet" href="/css/fragments/login.css">
</head>
<body>
    
    <main>
        <section>
             <!-- 로고 -->
             <img src="/images/logo.png" alt="homeLogo" id="logo">
        
             <!-- 로그인 폼-->
             <form action="" method="post">
                 <div class="login-input-area">

                    <div>
                        <input type="text" id="id" placeholder="아이디" autocapitalize="off">
                    </div>
                    
                    <div>
                        <input type="password" id="password" placeholder="비밀번호" autocapitalize="off">
                    </div>
                    
                    <div class="radioDiv">
                        <input type="checkbox"><h3>아이디 저장</h3>
                    </div>    

                     <button class="loginBtn">로그인</button>
                 </div>
                     
             </form>
 
             <!-- 비밀번호 찾기/회원가입 폼-->
            <div class="pwSignDiv">

                    <a href="">비밀번호 찾기</a>

                    <a href="">회원 가입</a>

            </div>
 
        </section>
     </main>
</body>
</html>