footer {
    width: 100vw;
    height: 18.519vh;
    background-color: var(--primary1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}
footer > div {
    display: flex;
    justify-content: space-between; /* 양 끝으로 정렬 */
    flex-direction: row;
    margin: 0.521vw; /* 마진을 줄임 */
    width: 25.542vw;
}
footer > div > div {
    margin: 0; /* 내부 div 요소들 간의 간격을 0으로 설정 */
}
