*{
    padding: 0;
    margin: 0;
    border: none;

}

.page .page-title {
    display: none;
    }

body{
    background-color: var(--primary3);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 666px;
    height: 596px;
    background-color: var(--gray4);
    border-radius: 80px;
}
section div{
    display: flex;
}

#logo{
    margin-top: 50px;
    width: 279px;
    height: 56px;
}
.login-input-area{
    display: flex;
    flex-basis: 200px;

    align-items: center;
    flex-direction: column;
}
.login-input-area div:nth-child(1),div:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
.radioDiv{
    display: flex;
    align-items: center;
    margin: 10px;
}

.login-input-area div:last-child input{
    display: flex;
    flex-direction: row;
}
input{
    width: 424px;
    height: 60px;
}

.login-input-area input[type="checkbox"]{
    margin-left: 240px;
    width: 18px;
    height: 18px;
}

h3{
    margin-left: 10px;
}

.pwSignDiv{
    display: flex;
    width: 410px;
    justify-content: space-between;
}

.pwSignDiv > a {
    margin-top: 5px;
    width: auto;
    font-family: 'regular';
    font-size: 20px;

}


/* .pwSignDiv > div > a{
    display: flex;
    justify-content: center;
   
} */
