
body{
    background-color: var(--primary3);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 666px;
    height: 596px;
    background-color: var(--gray4);
    border-radius: 80px;
}
section div{
    /* display: flex;
    flex-direction: row; */
}
input[type="password"] {
    flex-direction: column;
} 
#logo{
    margin-top: 50px;
    width: 279px;
    height: 56px;
}
.login-input-area{
    display: flex;
    flex-basis: 200px;

    align-items: center;
    flex-direction: column;
}
.login-input-area div:nth-child(1),div:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
.radioDiv{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 500px;
    justify-content: start;

}
.radioDiv[type="checkbox"] {
    width: 20%;
}
.login-input-area div:last-child input{
    display: flex;
    flex-direction: row;
}




.pwSignDiv{
    display: flex;
    width: 410px;
    justify-content: space-between;
}

.pwSignDiv > a {
    margin-top: 5px;
    width: auto;
    font-family: 'regular';
    font-size: 20px;

}

.saveIdCheckBox {
    flex-direction: column;
}
/* .pwSignDiv > div > a{
    display: flex;
    justify-content: center;
   
} */
