/* 모달창 css */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1000;
}

.modal-content {
    border-radius: 30px; 
    position: fixed;
    border: 3px solid #076DF2; 
    width: 600px; 
    height: 530px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.45), 0 6px 6px rgba(0,0,0,0.45);
    background-color: white;
    z-index: 1010;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-content-div {
    z-index: 1010;
}

.modal-header {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray3);
}

.modal-header > div {
    flex-basis: 80%;
    margin-left: 20px;
}

.modal-title {
    width: auto;
    font-size: 20px;
}

.board-like {
    font-size: 30px; 
    color: #FFD332; 
    cursor: pointer; 
    margin-left: 30px;
}

.close-btn {
    font-size: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal-body {
    width: 595px;
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray3);
}

.modal-thumbnail {
    width: 300px; 
    height: 270px; 
    border: 3px solid #076DF2; 
    margin-left: 15px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-info {
    width: 250px; 
    height: 270px; 
    margin-left: 15px; 
    display: flex; 
    flex-direction: column; 
    justify-content: start;
}

.modal-info > div {
    width: 250px; 
    height: 100px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.modal-info-line {
    border-bottom: 1px solid #535353;
    display: flex;
}

.modal-info-line > h2 {
    font-size: 15px;
    text-align: center;
}

.modal-info-line > h2:nth-child(2) {
    width: 190px;
}

.date { 
    margin-left: 10px;
}

.place { 
    margin-left: 10px;
}

.memberCount { 
    margin-left: 10px;
}

.modal-content > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid var(--gray3);
}

.memberList{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 560px;
    height: 70px;
}

.member {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border-radius: 40px;
}

.join-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.join-btn {
    width: 90%;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    color: white;
    background-color: var(--primary1);
    cursor: pointer;
}

.popup-hidden {
    display: none !important;
}

.like-hidden {
    display: none !important;
}

.full-member {
    width: 90%;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    color: white;
    background-color: var(--gray3);
    pointer-events: none;
}



#crwon1 {
    position: absolute;
    bottom: 83px;
    left: 85px;
    color: var(--secondary);
    font-size: 25px;
    z-index: 1;
}
#crwon2 {
    position: absolute;
    bottom: 83px;
    left: 84px;
    color: white;
    font-size: 25px;
}
#crwon3 {
    position: absolute;
    bottom: 84px;
    left: 85px;
    color: white;
    font-size: 25px;
}
#crwon4 {
    position: absolute;
    bottom: 83px;
    left: 86px;
    color: white;
    font-size: 25px;
}