*{
    padding: 0;
    margin: 0;
    border: none;

}

/* h2 문구  */
pre{
    text-align: center;
    color: var(--gray3);
}

body{
    background-color: var(--white);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 666px;
    height: 596px;
}

input::placeholder{
    font-family: 'regular';
    font-size: 15px;
    color: var(--gray2);
}


form div{
    display: flex;
}

.required h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--gray1);
}

.signUp-message h4{
    margin-top: 5px;
    color: var(--gray1);
}

.birthdayDiv{
    display: flex;
    width: 440px;
    height: 70px;  
    justify-content: space-between;
}

.birthdayDiv select{
    border: 3px solid var(--primary3);
    border-radius: 30px;
    font-family: 'main';
    font-size: 15px;
    color: var(--gray3);
    text-align-last: center;
}
.birthdayDiv select:nth-child(1){
    width: 200px; 
}
.birthdayDiv select:nth-child(2), :nth-child(3){
    width: 100px;
}
#memberPwDiv{
    margin-bottom: 20px;
}

.genderDiv select{
    width: 100px; 
    border: 3px solid var(--primary3);
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    font-family: 'main';
    color: var(--gray3);
    text-align-last: center;
}


/* span입력시 색 바꾸기용  */
.required{
    color: red;
    padding: 0 5px;
}

.confirm{color : green; }
.error{ color: red;}

.signUp-input-area {
    margin-bottom: 20px;
}

.singupBtn {
    margin-left: 40px;
}

.signupSubmitBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}