.pagination-area {
    margin-top: 50px;
    /* margin-bottom: 20px; */
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #455ba8;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
}