
/* 메인 CSS */
.main-div {
    width: 1090px; 
    height: 1610px; 
    position: relative; 
    background: var(--primary3); 
    border-radius: 20px; 
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */


/* 메인 모임글 컨테이너 */
.boardMainDetailDiv {
    width: 1050px; 
    height: 500px; 
    left: 20px; 
    top: 20px; 
    position: absolute;
}

.boardMainDetailContainer {
    
    width: 1050px; 
    height: 500px; 
    left: 0px; 
    top: 0px; 
    /* position: absolute;  */
    background: var(--white); 
    border-radius: 30px;
}

.mainImg {
    width: 450px; 
    height: 450px; 
    left: 30px; 
    top: 25px; 
    position: absolute; 
    border-radius: 30px 
}

.titleContainer {
    width: 530px; 
    height: 70px; 
    left: 500px; 
    top: 25px; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle60 {
    width: 530px; 
    height: 70px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: var(--primary3); 
    border-radius: 30px;
}

.title {
    width: 410px;
    left: 60px;
    position: absolute; 
    text-align: center; 
    color: var(--white); 
    /* word-wrap: break-word; */
    font-weight: 400;
}

.type-date-container {
    width: 530px; 
    height: 50px; 
    left: 500px; 
    top: 110px; 
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.type {
    width: 260px; 
    height: 50px; 
    left: 0px; 
    top: 0px; 
    background: var(--primary3); 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-name, .type-date {
    color: var(--white);
    /* font-family: 'regular'; */
    font-weight: 400;
}

.date {
    width: 250px; 
    height: 50px; 
    left: 0px; 
    top: 0px;
    background: #3889F2; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinMemberContainer {
    width: 530px; 
    height: 180px; 
    left: 510px; 
    top: 300px; 
    position: absolute;
    display: flex;
    flex-direction: column;
}

.joinMemberTitleContainer {
    /* width: 250px; 
    height: 70px;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.joinMemberTitle {
    height: 70px;
    width: 300px;
    border-radius: 30px;
    background-color: var(--primary3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.joinMemberIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.personIco {
    color: var(--secondary);
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: color 0.3s;
}

/* 수정중 */
.joinMemberIconContainer:hover .personIco, .joinMemberIconContainer:hover .joinMemberStatus {
    color: var(--primary3);
    transition: color 0.3s;
}

.joinMemberStatus {
    text-align: center; 
    color: var(--secondary); 
    font-size: 15px; 
    font-family: 'main';
    font-weight: 400; 
    word-wrap: break-word;
    cursor: pointer;
    transition: color 0.3s;
}

.joinTitle {
    color: var(--white);
    font-size: 25px;
    font-family: 'main';
    font-weight: 400;
    
}

.joinMemberImgContainer {
    height: 50%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.joinMemberImg{
    width: 80px; 
    height: 80px; 
    border-radius: 10000px;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */


/* 모임 소개 컨테이너 */

.boardDetailWriteDiv {
    width: 600px; 
    height: 700px; 
    left: 20px; 
    top: 543px; 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.boardDetailWriteContainer {
    width: 600px; 
    height: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--white); 
    border-radius: 30px;
}

.boardWriteTitleContainer {
    width: 560px; 
    height: 50px; 
    justify-content: center;
    align-items: center;
}

.boardWriteContentContainer {
    width: 560px; 
    height: 580px; 

    justify-content: center;
    align-items: center;
}

.boardWriteTitle {
    width: 560px; 
    height: 50px; 
    background: var(--primary3); 
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.writeTitle {
    color: var(--white);
    font-size: 25px;
    font-family: 'main';
    font-weight: 400;
    text-align: center;
}

.boardContentContainer {
    width: 560px; 
    height: 580px; 
    background: var(--white); 
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 0px;
}

.boardContent {
    width: 540px; 
    height: 580px; 
    text-align: center; 
    color: var(--gray1); 
    /* font-weight: 400;  */
    letter-spacing: 2px;
    line-height: 25px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
}
.boardContent::-webkit-scrollbar {
    width: 15px;
}
.boardContent::-webkit-scrollbar-thumb {
    background-color: var(--primary3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.boardContent::-webkit-scrollbar-track:vertical {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.boardContent::-webkit-scrollbar:horizontal {
    height: 0px;
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* 모임 정보 컨테이너 */
.boardDetailDiv {
    width: 430px; 
    height: 380px; 
    left: 640px; 
    top: 543px; 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.boardDetailContainer {
    width: 430px; 
    height: 380px; 
    background: var(--white); 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.detailTitleContainer {
    width: 390px; 
    height: 50px; 
    background: var(--primary3); 
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boardDetailTitle {
    color: var(--white);
    font-size: 25px;
    font-family: 'main';
    font-weight: 400;
    text-align: center;
}


.detailContainer {
    width: 400px;
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titleContainer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--gray2);
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);  */
}

.detailTitle {
    width: 30%;
    text-align: center; 
    color: var(--gray1); 
    font-size: 20px; 
    font-family: 'main';
    font-weight: 400; 
    word-wrap: break-word;
}

.detail-user {
    width: 70%;
    text-align: center; 
    color: var(--gray2); 
    font-size: 20px; 
    font-family: 'main';
    font-weight: 400; 
    word-wrap: break-word;
}




/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* 모임장 소개 컨테이너 */

.boardCreatorDetailDiv {
    width: 600px; 
    height: 320px; 
    left: 20px; 
    top: 1266px; 
    position: absolute;
    
}

.creatorContainer {
    width: 600px; 
    height: 320px; 
    /* position: absolute;  */
    background: var(--white); 
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.aboutCreatorDiv {
    width: 280px; 
    height: 120px; 
    left: 0px; 
    top: 52px; 
    /* position: absolute;  */
    background: var(--primary1); 
    border-radius: 30px;
}

.creatorDetailContainer {
    width: 550px; 
    height: 50px; 
    background: var(--primary3); 
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.creatorTitle {
    text-align: center; 
    color: var(--white); 
    font-size: 25px; 
    font-family: 'main';
    font-weight: 400; 
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    display: flex;
}

.creatorDetaileBotContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}
.creatorDetaileBotContainer > div {
    justify-content: space-evenly;
    display: flex;
}


.creatorImg {
    width: 200px; 
    height: 200px;
    border-radius: 9999px;
}



.creatorRightContainer {
    width: 320px; 
    height: 200px;
    /* position: absolute;  */
    background: var(--primary3);
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.userProfile {
    justify-content: space-evenly;
    /* align-items: center; */
    display: flex;
    width: 100%;
    align-items: center;
}

.userNameContainer {
  width: 120px; 
  height: auto; 
  background: var(--primary1); 
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  white-space: wrap;
}

.userEmailContainer {
    width: 150px; 
    height: 40px; 
    background: var(--primary1); 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px;
}

.userInfoContainer {
    width: 280px; 
    height: 120px; 
    background: var(--primary1); 
    border-radius: 30px;
    overflow: hidden;
}

.userName {
    text-align: center; 
    color: var(--white); 
    font-size: 20px; 
    font-family: 'main';
    font-weight: 400; 
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: nowrap;
    margin-top: 3px;
    white-space: pre-wrap;

}

.userEmail {
    text-align: center; 
    color: var(--white); 
    font-size: 15px; 
    font-family: 'main';
    font-weight: 400; 
    word-wrap: break-word;
    overflow: auto;
}

.userInfo {
    text-align: center; 
    color: var(--white); 
    font-size: 15px; 
    font-family: 'regular';
    /* font-weight: 400;  */
    word-wrap: break-word;
    line-height: 20px;
    word-spacing: 5px;
    padding: 15px;
    overflow-y: auto;
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* 대화내용 컨테이너 */

.boardCommentDiv {
    width: 430px; 
    height: 635px; 
    left: 640px; 
    top: 950px;
    position: absolute;
    background: var(--white); 
    border-radius: 30px;
    


    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}

.boardCommentDivTop {
    width: 400px;
    height: 475px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
}

.boardCommentDivTop::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.boardCommentDivTop::-webkit-scrollbar {
    width: 15px;
}
.boardCommentDivTop::-webkit-scrollbar-thumb {
    background-color: var(--primary3);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.boardCommentDivTop::-webkit-scrollbar-track:vertical {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}



.chatMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

/*  */
.chatContainer {
    display: flex;
    height: 40px;
    align-items: end;
    margin-bottom: 5px;
}

.chatUserProfile {
    width: 40px;
    height: 40px;
    
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatUserName {
    width: 110px;
    display: flex;
    justify-content: start;
    font-size: 16px;
    font-family: 'main';
    font-weight: 400;
    margin-left: 5px;
    color: var(--primary3);
}

.chatDate {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

    text-align: center;
    font-size: 15px;
    font-family: 'regular';
    color: var(--primary3);
}

.chatDateUser {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

    text-align: center;
    font-size: 15px;
    font-family: 'regular';
    color: var(--primary3);
}

.chatUpdateDeleteContainer {
    width: 100%;
    margin-bottom: 10px;
}

/* 버튼 그룹 */
.chatContainerUser > div {
    width: 100px;
}

.a-insertBtn, .a-updateBtn, .a-deleteBtn {
    text-align: center; 
    color: var(--primary1); 
    font-size: 13px; 
    font-family: 'main' !important;
    word-wrap: break-word;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    margin-left: 3px;
}
.a-insertBtn:hover, .a-updateBtn:hover, .a-deleteBtn:hover {
    color: var(--secondary);
    transition: color 0.3s;
}

.chatContent {
    width: 250px;
    white-space: pre-wrap;
    border-radius: 30px;
    background-color: var(--primary3);
    padding: 15px;
    font-family: 'main';
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--white);
    overflow: hidden;
}

/* 다른 회원이 쓴 댓글 내용 컨테이너 */
.chatContentContainer{
    display: flex;
    align-items: end;
}

/* 내가 쓴 댓글 내용 컨테이너 */
.chatContentContainerUser {
    display: flex;
    align-items: end;
}

.chatContentUser {
    width: 250px;
    white-space: pre-wrap;
    border-radius: 30px;
    background-color: var(--primary1);
    padding: 15px;
    font-family: 'main';
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--white);
    overflow: hidden;
    margin-left: 5px;
}

/* 내가 쓴 댓글 영역 중 회원 정보 */
.chatContainerUser {
    display: flex;
    height: 40px;
    align-items: end;
    margin-bottom: 5px;
    margin-left: 120px;
}



.chatUpdateDeleteContainerUser {
    width: 100%;
    left: 73%;
    margin-bottom: 10px;
    position: relative;
}

.chatSubmitMainContainer {
    display: flex;
    width: 400px; 
    height: 120px; 
    background: var(--primary3); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 30px; 
    overflow: hidden;
    align-items: center;
}

.chatSubmitContainer {
    width: 265px; 
    height: 80px; 
    background: var(--white); 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.detailCommentSubmitBtn {
    margin-left: 15px;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.chatSubmitForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.boardDetailCommentInput {
    width: 255px;
    height: 70px;
    padding: 10px;
}


/* 방장 표시 아이콘 */
#crwon1 {
    position: absolute;
    bottom: 8px;
    left: 72px;
    color: var(--secondary);
    font-size: 32px;
    z-index: 1;
}
#crwon2 {
    position: absolute;
    bottom: 8px;
    left: 71.5px;
    color: white;
    font-size: 32px;
}
#crwon3 {
    position: absolute;
    bottom: 8.5px;
    left: 71.5px;
    color: white;
    font-size: 32px;
}
#crwon4 {
    position: absolute;
    bottom: 8.5px;
    left: 72px;
    color: white;
    font-size: 32px;
}
#crwon5 {
    position: absolute;
    bottom: 8.5px;
    left: 72.5px;
    color: white;
    font-size: 32px;
}
#crwon6 {
    position: absolute;
    bottom: 8px;
    left: 72.5px;
    color: white;
    font-size: 32px;
}
#crwon7 {
    position: absolute;
    bottom: 7.5px;
    left: 72px;
    color: white;
    font-size: 32px;
}

/* 참여 인원 현황에서 보이는 방장 표시 아이콘*/
#modal-crwon1 {
    position: absolute;
    bottom: 2px;
    left: 44px;
    color: var(--secondary);
    font-size: 30px;
    z-index: 1;
}
#modal-crwon2 {
    position: absolute;
    bottom: 2px;
    left: 43.5px;
    color: white;
    font-size: 30px;
}
#modal-crwon3 {
    position: absolute;
    bottom: 2px;
    left: 43.5px;
    color: white;
    font-size: 30px;
}
#modal-crwon4 {
    position: absolute;
    bottom: 2.5px;
    left: 44px;
    color: white;
    font-size: 30px;
}
#modal-crwon5 {
    position: absolute;
    bottom: 2.5px;
    left: 44.5px;
    color: white;
    font-size: 30px;
}
#modal-crwon6 {
    position: absolute;
    bottom: 2px;
    left: 44.5px;
    color: white;
    font-size: 30px;
}
#modal-crwon7 {
    position: absolute;
    bottom: 1.5px;
    left: 44px;
    color: white;
    font-size: 30px;
}