@media (min-width: 1550px) {
    .sportsBoardMain {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 1090px;
        height: 1300px;
        margin-top: 30px;
    }

    .board-page-header {
        display: flex;
        align-items: center;
        width: 1020px;
        height: 100px;
    }

    .boardType-title {
        /* text-align: start; */
        /* margin-top: 40px;  */
        /* margin-bottom: 20px; */
        font-size: 40px;
        width: 1020px;
        flex-basis: 90%;
    }

    .newMoim {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--primary2);
        font-family: 'main';
        font-size: 20px;    
        font-weight: 1000;
        color: white;
        cursor: pointer;
        margin-top: 30px;
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;
        width: 1090px;
    }

    .board-list > div {
        display: flex;
        flex-wrap: wrap;
        width: 230px;
        height: 300px;
        padding: 0px;
        margin-top: 10px;
        margin-left: 33px;
    }

    .board-list > div > img {
        width: 230px; 
        height: 200px;
        border-radius: 30px; 
        background-color: rgb(255, 255, 255); 
        padding: 0px;
        margin: 0;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }

    .board-list > div > div {
        height: 90px;
        margin-top: 10px;
    }

    .writeDate {
        color: var(--gray2);
    }

    .board-title {
        color: var(--gray1); 
        font-size: 18px; 
        text-align: start; 
        width: auto;
        cursor: pointer;
        margin-top: 5px;
        line-height: 120%;
    }
    
}

@media (max-width: 1550px) {
    .sportsBoardMain {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 1650px;
    }

    .board-page-header {
        display: flex;
        align-items: center;
        width: 52.125vw;
        height: 100px;
    }

    .boardType-title {
        text-align: start;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 40px;
        width: 53.125vw;
        flex-basis: 90%;
    }

    .newMoim {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--primary2);
        font-family: 'main';
        font-size: 20px;    
        font-weight: 1000;
        color: white;
        cursor: pointer;
        margin-top: 30px;
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;
        width: 56.771vw;
    }

    .board-list > div {
        display: flex;
        flex-wrap: wrap;
        width: 230px;
        height: 300px;
        padding: 0px;
        margin-top: 10px;
        margin-left: 33px;
    }

    .board-list > div > img {
        width: 230px; 
        height: 200px; 
        border-radius: 30px; 
        background-color: rgb(255, 255, 255); 
        padding: 0px;
        margin: 0;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }

    .board-list > div > div {
        height: 90px;
        margin-top: 10px;
    }

    .writeDate {
        color: var(--gray2);
    }

    .board-title {
        color: var(--gray1); 
        font-size: 18px; 
        text-align: start; 
        width: auto;
        cursor: pointer;
        margin-top: 5px;
        line-height: 120%;
    }
    
}

@media (max-width: 1390px) {
    .sportsBoardMain {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 2250px;
    }

    .board-page-header {
        display: flex;
        align-items: center;
        width: 52.125vw;
        height: 100px;
    }

    .boardType-title {
        text-align: start;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 40px;
        width: 53.125vw;
        flex-basis: 90%;
    }

    .newMoim {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--primary2);
        font-family: 'main';
        font-size: 20px;    
        font-weight: 1000;
        color: white;
        cursor: pointer;
        margin-top: 30px;
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;
        width: 56.771vw;
    }

    .board-list > div {
        display: flex;
        flex-wrap: wrap;
        width: 230px;
        height: 300px;
        padding: 0px;
        margin-top: 10px;
        margin-left: 33px;
    }

    .board-list > div > img {
        width: 230px; 
        height: 200px; 
        border-radius: 30px; 
        background-color: rgb(255, 255, 255); 
        padding: 0px;
        margin: 0;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }

    .board-list > div > div {
        height: 90px;
        margin-top: 10px;
    }

    .writeDate {
        color: var(--gray2);
    }

    .board-title {
        color: var(--gray1); 
        font-size: 18px; 
        text-align: start; 
        width: auto;
        cursor: pointer;
        margin-top: 5px;
        line-height: 120%;
    }
    
}

@media (max-width: 990px) {
    .sportsBoardMain {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 89.474vw; /* 850 */
        height: 850px
    }

    .title-group {
        display: flex;
        width: 83.158vw;
        align-items: end;
    }

    .boardType-title {
        text-align: start;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 4.211vw;
        width: 83.158vw;
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;
        width: 89.474vw;
    }

    .board-list > div {
        display: flex;
        flex-wrap: wrap;
        width: 18vw;
        height: 185px;
        padding: 0px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .board-list > div > img {
        width: 18vw; 
        height: 100px; 
        border-radius: 20px; 
        background-color: rgb(255, 255, 255); 
        padding: 0px;
        margin: 0;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }

    .board-list > div > div {
        height: 90px;
        margin-top: 10px;
    }

    .writeDate {
        color: var(--gray2);
        font-size: 12px; 
    }

    .board-title {
        color: var(--gray1); 
        font-size: 14px; 
        text-align: start; 
        width: auto;
        cursor: pointer;
        margin-top: 5px;
        line-height: 120%;
    }
}

@media (max-width: 500px) {
    .sportsBoardMain {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: 89.474vw; /* 850 */
        height: 100vh;
    }

    .title-group {
        display: flex;
        width: 83.158vw;
        align-items: end;
    }

    .boardType-title {
        text-align: start;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 4.211vw;
        width: 83.158vw;
    }

    .board-list {
        display: flex;
        flex-wrap: wrap;
        width: 89.474vw;
    }

    .board-list > div {
        display: flex;
        flex-wrap: wrap;
        width: 18vw;
        height: 185px;
        padding: 0px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .board-list > div > img {
        width: 18vw; 
        height: 100px; 
        border-radius: 20px; 
        background-color: rgb(255, 255, 255); 
        padding: 0px;
        margin: 0;
        border: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        cursor: pointer;
    }

    .board-list > div > div {
        height: 90px;
        margin-top: 10px;
    }

    .writeDate {
        color: var(--gray2);
        font-size: 12px; 
    }

    .board-title {
        color: var(--gray1); 
        font-size: 14px; 
        text-align: start; 
        width: auto;
        cursor: pointer;
        margin-top: 5px;
        line-height: 120%;
    }
}



.pagination-area {
    margin-top: 50px;
    /* margin-bottom: 20px; */
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
    color: var(--gray1);
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
    color: var(--yellow)!important;
    text-decoration: none;
}

.current{
    font-weight: bold;
    background-color: var(--white);
    border-radius: 50%;
    color: var(--yellow) !important;
    letter-spacing: 0 !important;
}



/* 게시물이 존재하지 않을 때 */
.nothing-div {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100px;
    border-top: 2px solid var(--gray3);
    border-bottom: 2px solid var(--gray3);
}

.nothing {
    width: auto;
}